<table mat-table [dataSource]="flights">
  <!-- flightNumber Column -->
  <ng-container matColumnDef="flightNumber">
    <th mat-header-cell *matHeaderCellDef>Flight Number</th>
    <td mat-cell *matCellDef="let element">{{ element.flightNumber }}</td>
  </ng-container>

  <!-- Flight Schedule Date Column -->
  <ng-container matColumnDef="flightScheduleDate">
    <th mat-header-cell *matHeaderCellDef>Flight Schedule Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.flightScheduleDate | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Flight Status Column -->
  <ng-container matColumnDef="flightStatusPublicLangTransl">
    <th mat-header-cell *matHeaderCellDef>Flight Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.flightStatusPublicLangTransl }}
    </td>
  </ng-container>

  <!-- Airline Column -->
  <ng-container matColumnDef="airline.name">
    <th mat-header-cell *matHeaderCellDef>Airline</th>
    <td mat-cell *matCellDef="let element">{{ element.airline.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
