<div class="wrapper">
  <div class="toolbar">
    <mat-toolbar color="primary">
      <div class="container">
        <div class="desktop-menu">
          <span class="d-none d-md-inline">
            <button mat-button routerLink="/home" routerLinkActive="active">
              home
            </button>
          </span>
          <span class="d-none d-md-inline">
            <button
              mat-button
              routerLink="/flight-status"
              routerLinkActive="active"
            >
              Flight Statuses
            </button>
          </span>
        </div>
        <div class="mobile-menu">
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-button routerLink="/home" routerLinkActive="active">
              home
            </button>
            <button
              mat-button
              routerLink="/flight-status"
              routerLinkActive="active"
            >
              Flight Statuses
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>
