<app-flight-search (searchChange)="onSearch($event)"></app-flight-search>
<div class="mat-elevation-z8 flight-status" *ngIf="flightStatuses">
  <app-flight-table [flights]="flightStatuses"></app-flight-table>
  <app-flight-table-pagination
    [currentPageIndex]="currentPageIndex"
    [currentLength]="currentLength"
    (itemCountChange)="onItemCountChange($event)"
  ></app-flight-table-pagination>
</div>
<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
